@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --gray:#333;
    --dark-green:#1e3932;
    --light-green:#a8ff78;
    --green:#017143;
    --white:#FFF;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
}

.container-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header .logo,
.container-header .logo .logo-image{
    position: relative;
    max-width: 85px;
}

.container-header .menu-header{
    display: flex;
    position: relative;
}

.menu-header li{
    list-style: none;
}

.menu-header li a{
    color: var(--gray);
    display: inline-block;
    font-weight: 400;
    margin-left: 12rem;
    text-decoration: none;
}

.main{
    width: 100%;
    height: 34rem;
    border: 1px solid blue;
    display: flex;
}

.content{
    margin: 1rem;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
}

.content .text{
    position: relative;
    max-width: 30rem;
    height: 26rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 1rem;

}

.content .text h2{
    font-size: 4rem;
    line-height: 1.4em;
    font-weight: 500;
    color: var(--gray);
    padding-left: 1rem;
}

.content .text span{
    color: var(--green);
    font-weight: bold;
}
.content .text p{
    font-size: 21px;
    padding-left: 2rem;
    color: var(--gray);
}
.content .text a{
    background: var(--light-green);
    border-radius: 100px;
    color: var(--gray);
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin: 4px;
    padding: 4px;
    text-decoration: none;
}
.content .text a:hover{
    background: var(--green);
    color: var(--white);
    transition: .6s;
}

.imgBox{
    border: 1px solid transparent;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    width: 28rem;
    justify-content: center;
    border-radius: 50px;
    box-shadow: var(--gray) 0px 20px 40px 0px;
}